<!DOCTYPE html>
<html>
<head>
	<title>Help</title>

	<style>
			body {
			    background-image: url("/image1.jpg");
			}
	</style>

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	    	<%= link_to "WhereEver Airlines", {:action => 'home'}, :class => "navbar-brand" %>
	    </div>
	   	<ul class="nav navbar-nav"> 
	      <li class="active">
	      	<%= link_to "Home", {:action => 'home'} %>
	      </li>
	      
	      <!--
	      <li>
	      	<%= link_to "AdminPortal", {:controller => 'airline_admin', :action => 'index'} %>
	      </li>
	      <li>		      	
	      	<%= link_to "ManagerPortal", {:controller => 'airline_manager', :action => 'index'} %>
		  </li>		  
	      <li>
	      	<a href="/airline_admin/index">AdminCheck</a>
	      </li>
	      
	      <li>
	      	<%= link_to "Book a Flight", {:action => 'book'} %>
	      </li> -->
 	      <ul class="nav navbar-nav navbar-right">
      		<li style="left: 200%"><a href="/airline_manager/index"><span class="glyphicon glyphicon-log-in"></span> Login Manager</a></li>
      		<li style="left: 220%"><a href="/airline_admin/index"><span class="glyphicon glyphicon-log-in"></span> Login Admin</a></li>
    	  </ul>

	     </ul>  
	  </div>
</nav>


	<div class="container">
	<br><br><br><br>
	<p style="font-size: 40px; color: white;">Need help???</p>
		<img src="/help.png" alt="help" width="40%" height="40%" style="margin-left: 40px;">
		<p style="color: white;font-size: 20px;">
			If your're unable to book your flight. Please follow these simple steps.
			<ul style="background-color: white;">
				<li style="color: green;font-size: 15px;">First, Click on Whatever Airlines Button on left side</li>
				<li style="color: green;font-size: 15px;">Click on book Flight</li>
				<li style="color: green;font-size: 15px;">Enter Details</li>
				<li style="color: green;font-size: 15px;">You are DONE!</li>
			</ul> 
		</p>
	</div>
</body>
</html>